# Essential Variables that have to be set!
REPO_DIR="${HOME}/android/[ROM_NAME]"		# can not be empty, in the target directory must .repo exist!
BUILD_FOR_DEVICE=""							# set this if you want always build for the given device/s

# If you want to use different configs
USE_CONFIG=""								# If empty "./config.d/default" will be used, use configname only
